<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- import bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <title>WriteIt Blogs</title>
  </head>
  <body>
    <div class="container">
      <h1 class="mb-3">Create a new Blog</h1>
        <form action="/blogs" method="POST">    
            <%- include('_blog_form.ejs') %>
        </form>
      
    </div>
  </body>
</html>
